body {
  background-color: #151515;
  color: #fff;
  font-family: var(--font-text);
  font-weight: normal;
  position: relative;
  &.lock {
    overflow: hidden;
  }

  &.--light {
    background-color: #fff;
    color: #121010;
  }
}

.container {
  width: 100%;
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 20px;
}
